@import "variables";

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  scroll-behavior: smooth;
  color: black;
  height: 100%;
}
html::-webkit-scrollbar {
  width: 9px;
  background-color: #f9f9fd;
}
html::-webkit-scrollbar-thumb {
  background-color: $primary;
  border-left: 2px solid #f9f9fd;
  border-right: 1px solid #f9f9fd;
}
html::-webkit-scrollbar-track {
  -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
  background-color: #f9f9fd;
}
body {
  background-color: $background;
  fill: currentColor;
}
#app {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
}
header {
  flex: 0 0 auto;
}
main {
  flex: 1 0 auto;
}
footer {
  flex: 0 0 auto;
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
h1,
h2,
h3,
h4,
h5,
p {
  padding: 0;
  margin: 0;
}
a {
  color: white;
  text-decoration: none;
  cursor: pointer;
}
input {
  border: none;
  background-color: transparent;
  outline: none;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
button {
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.container {
  max-width: 1770px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 1780px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media (max-width: 1366px) {
}

@media (max-width: 1024px) {
  .container {
    max-width: 924px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 668px;
    padding: 0 10px;
  }
  .swiper-pagination {
    display: none;
  }
}

@media (max-width: 576px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 320px) {
  .container {
    max-width: 290px;
    padding: 0;
  }
}
