@import "variables";

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Roboto", sans-serif;
  font-weight: $background;
  font-size: 16px;
  scroll-behavior: smooth;
  color: black;
  height: 100%;
}
body {
  background-color: $background;
  fill: currentColor;
}
#app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header {
  flex: 0 0 auto;
}
main {
  flex: 1 0 auto;
}
footer {
  flex: 0 0 auto;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
h1,
h2,
h3,
h4,
h5,
p {
  padding: 0;
  margin: 0;
}
a {
  color: white;
  text-decoration: none;
  cursor: pointer;
}
input {
  border: none;
  background-color: transparent;
  outline: none;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
button {
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.container {
  max-width: 100vw;
  padding-left: 100px;
  padding-right: 100px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 1199px) {
  .container {
    padding-left: 40px;
    padding-right: 40px;
  }
}
