$background: rgba(251, 248, 240, 1);
$red: rgba(233, 113, 113, 1);
$primary: rgba(201, 164, 137, 1);
$white: rgba(255, 255, 255, 1);
$dark_text: rgba(12, 13, 18, 1);
$card_shadow:
  5px 5px 10px rgba(242, 242, 242, 0.5),
  -5px -5px 10px rgba(242, 242, 242, 0.5),
  5px -5px 10px rgba(242, 242, 242, 0.5),
  -5px 5px 10px rgba(242, 242, 242, 0.5);
$skeleton-gradient: linear-gradient(90deg, #ddd 0px, #e8e8e8 40px, #ddd 80px);
